dialog {
  background: #fff;
  border: none;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 40px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.25);
	min-width: 20vw;
  max-width: 50vw;
	position: fixed;
	margin: auto auto;
	margin-top: 9vh !important;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	line-height: 1.5;
}

@keyframes explode { 
	0% { transform: scale(0); } 
	100% { transform: scale(1); } 
} 

dialog[open] {
	animation-name: explode; 
	animation-duration: .1s; 
	animation-fill-mode: forwards; 
} 

@keyframes implode { 
	0% { transform: scale(1); } 
	100% { transform: scale(0); } 
} 

dialog.close {
	animation-name: implode; 
	animation-duration: .1s; 
	animation-fill-mode: forwards; 
} 

dialog span.dialog-icon {
	font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji";
	font-size: xxx-large;
	margin-right: 15px;
	float: left;
	display: inline-block;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

dialog span.dialog-spinner {
	display: inline-block;
	animation: spin 2s infinite linear;
}

dialog h4 {
	font-size: x-large;
	margin: 0 0 5px 0;
}

dialog .dialog-actions {
	width: 100%;
	text-align: right;
	float: right;
	margin: 6px;
	margin-top: 1em;
	display: inline-block;
}

dialog .dialog-message {
	overflow-wrap: anywhere;
	white-space: break-spaces;
	margin-bottom: 1em;
	float: none;
	margin-top: 1em !important;
	width: auto;
	height: auto;	
}

dialog button {
	padding-left: 16px;
	padding-right: 16px;
}

dialog form.dialog-input {
	float: none;
	display: grid;
	height: auto;	
	width: auto;
}
dialog form.dialog-input.top {
	grid-template-rows: auto minmax(0, 1fr);
}
dialog form.dialog-input.top input:not(.inline) {
	margin-bottom: 1rem;
}

dialog form.dialog-input.left {
	grid-template-columns: auto minmax(0, 1fr);
}
dialog form.dialog-input.left div {
	margin-bottom: 0.5rem;
}
dialog form.dialog-input.left label:not(.inline) {
	margin-left: 0.1rem;
	margin-right: 1rem;
}

dialog .dialog-input.full-width div input:not(.inline),
dialog .dialog-input.full-width div textarea,
dialog .dialog-input.full-width div select {
	width: 97%;
}

